{% extends "base.html" %}

{% block title %}Про нас{% endblock %}

{% block content %}
<div class="about-page">
    <h1>Про нас</h1>
    <p>Ласкаво просимо до нашого блогу! Ми команда ентузіастів, які прагнуть поділитися своїми знаннями та досвідом з вами. Наша мета - створити простір для обміну ідеями та натхненням.</p>
    <p>У нас ви знайдете статті на різні теми, включаючи технології, науку, мистецтво та багато іншого. Ми сподіваємося, що наш блог стане для вас корисним і цікавим ресурсом.</p>
    <p>Дякуємо, що завітали до нас!</p>
</div>
{% endblock %}
