{% extends "base.html" %}
{% block title %}Головна{% endblock %}
{% block content %}
<div id="content" class="left">
    <div class="projects">
        <h3>Записи</h3>
        {% for post in post_list %}
        <div class="item">
            <div class="image left">
                <img src="{{ post.img.url }}" width="200px"/>
            </div>
            <div class="text left">
                <h4><a href="{{ post.id }}">{{ post.title }}</a></h4>
                <p>{{ post.description }}</p>
                <p>Автор:  {{ post.author }}</p>
            </div>
            <div class="cl"> </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="cl"> </div>
{% endblock %}
